################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/NGWalks/CopilotIndices/17.14.1593.33849
